@model Bio

<!-- Header Area Start -->
<header class="top">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="header-top-left">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <p>HAVE ANY QUESTION ?  +994 70 265 20 27</p>
                        }
                        else
                        {
                            <p>HAVE ANY QUESTION ?  ismayilbz@code.edu.az</p>
                        }
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="header-top-right text-right">
                        <ul>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Admin"))
                                {
                                    <li><a asp-area="adminarea" asp-controller="dashboard">Admin</a></li>
                                }
                                else
                                {
                                    <li><a>@ViewBag.FullName</a></li>
                                }
                                <li><a asp-controller="account" asp-action="logout">Log Out</a></li>
                            }
                            else
                            {
                                <li><a asp-controller="account" asp-action="login">Login</a></li>
                                <li><a asp-controller="account" asp-action="register">Signup</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-area two header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="logo">
                        <a href="index.html"><img src="~/img/logo/@Model.HeaderImageUrl" alt="eduhome" /></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6">
                    <div class="content-wrapper text-right">
                        <!-- Main Menu Start -->
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li>
                                        <a asp-controller="home" asp-action="index">Home</a>
                                    </li>
                                    <li><a asp-controller="about" asp-action="index">About</a></li>
                                    <li>
                                        <a asp-controller="courses" asp-action="index">courses</a>
                                    </li>
                                    <li>
                                        <a asp-controller="event" asp-action="index">event</a>
                                    </li>
                                    <li class="hidden-sm">
                                        <a asp-controller="teacher" asp-action="index">teacher</a>
                                    </li>
                                    <li>
                                        <a asp-controller="blog" asp-action="index">blog</a>
                                    </li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Buy Now</a>
                                </ul>
                            </nav>
                        </div>
                        <!--Search Form Start-->
                        <div class="search-btn">
                            <ul data-toggle="dropdown" class="header-search search-toggle">
                                <li class="search-menu">
                                    <i class="fa fa-search"></i>
                                </li>
                            </ul>
                            <div class="search">
                                <div class="search-form">

                                    <form id="search-form">
                                        <input id="input-search" type="search" placeholder="Search here..." name="search" />
                                        <button type="submit">
                                            <span><i class="fa fa-search"></i></span>
                                        </button>
                                        <ul id="searchList">
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--End of Search Form-->
                        <!-- Main Menu End -->
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="mobile-menu hidden-lg hidden-md hidden-sm"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->