@model List<Course>

@foreach (var item in Model)
{

    <li class="px-3 bg-light float-left border-top border-dark" style="display: flex; justify-content: flex-start; padding: 5px 8px; border-top: 1px solid black;">
        <a href="/course/detail/@item.Id"> @item.Name </a>
    </li>
}