@using BackendProject.ViewModels.Account;
@model ResetPasswordVM
@{
    Layout = null;
}


<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from demo.devitems.com/eduhome/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 21 Jun 2020 19:44:02 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Eduhome - Educational HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="~/img/logo/apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/meanmenu.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/et-line-icon.css">
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!-- Login start -->
    <div class="login-area pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="login">
                        <div class="login-form-container">
                            <div class="login-text">
                                <h2>Reset</h2>
                                <span>Please create new Password</span>
                            </div>
                            <div class="login-form">
                                <div class="text-danger mb-2 mt-3" asp-validation-summary="All"></div>
                                <form asp-controller="Account" asp-action="ResetPassword" method="post" class="forms-sample">
                                    <div class="form-group">
                                        <label asp-for="Password">Password</label>
                                        <input class="form-control" asp-for="Password" placeholder="Password">
                                        <span class="text-danger" asp-validation-for="Password"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword">ConfirmPassword</label>
                                        <input class="form-control" asp-for="ConfirmPassword" placeholder="ConfirmPassword">
                                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                    </div>
                                    <input type="hidden" asp-for="Token" value="@Model.Token" />
                                    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                                    <button type="submit" class="btn btn-primary mr-2">Reset</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login end -->
    <script src="~/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.meanmenu.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/ajax-mail.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.mb.YTPlayer.js"></script>
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
