<!DOCTYPE html>
<html lang="en">

<head>

</head>
<body>
    <!-- kod əvvəli -->
    @RenderBody()
    <!-- kod davamı -->
    @RenderSection("Scripts",false)
    @RenderSection("Css",false)
</body>

</html>


